footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: #ffffff;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer > div {
  opacity: 0.5;
  margin: auto;
}